<script type="text/javascript">
    $(function () {
      $('.demo001').pickadate({
        monthsFull: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        weekdaysFull: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
        weekdaysShort: ["日", "月", "火", "水", "木", "金", "土"],
        weekdaysLetter: ["日", "月", "火", "水", "木", "金", "土"],
        labelMonthNext: "翌月",
        labelMonthPrev: "前月",
        labelMonthSelect: "月を選択",
        labelYearSelect: "年を選択",
        today: "今日",
        clear: "クリア",
        close: "閉じる",
        format: "yyyy-mm-dd",
      });
    });
</script>


<p id="notice"><%= notice %></p>

<h1>お知らせ一覧・登録</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>メモ</th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.date %></td>
        <td><%= notice.title %></td>
        <td><%= notice.memo %></td>
        <td><%= link_to '削除', notice, method: :delete, data: {  confirm:'本当にいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_for(@notice) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :日付 %><br>
    <%= f.text_field :date, :class => "demo001"%>
  </div>
  <div class="field">
    <%= f.label :タイトル %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :メモ %><br>
    <%= f.text_field :memo %>
  </div>

  <div class="actions">
    <%= f.submit "新規作成" %>
  </div>
<% end %>

