<p id="notice"><%= notice %></p>

<p>
  <strong>日付:</strong>
  <%= @notice.date.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @notice.memo %>
</p>


<%= link_to '編集', edit_notice_path(@notice) %> |
<%= link_to '一覧へ', notices_path %>
