<%= form_for(@loginuser) do |f| %>
  <% if @loginuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loginuser.errors.count, "error") %> prohibited this loginuser from being saved:</h2>

      <ul>
      <% @loginuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ユーザーネーム %><br>
    <%= f.text_field :username, :placeholder => "※必須" %>
  </div>
  <div class="field">
    <%= f.label :パスワード %><br>
    <%= f.password_field :password, :placeholder => "※必須(６文字以上の英数字)" %>
     <a class="btn btn-default btn-xs" data-toggle="collapse" href="#collapseExample">
    <%= image_tag 'qqq.png', width: '15em' %>
  </a>
  <span class="collapse" id="collapseExample">
    <div class="well">
      ６文字以上１２文字未満で入力してください。
    </div>
  </span>
  </div>
  <div class="actions">
    <%= f.submit "新規作成", class: "btn btn-large btn-warning"%>
  </div>
<% end %>
