<p id="notice"><%= notice %></p>

<p>
  <strong>パスワード:</strong>
  <%= @loginuser.password %>
</p>

<p>
  <strong>ユーザネーム:</strong>
  <%= @loginuser.username %>
</p>

<%= link_to '編集', edit_loginuser_path(@loginuser) %> |
<%= link_to '戻る', login_index_path %>
