<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザーネーム:</strong>
  <%= @loginuser.username %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @loginuser.password %>
</p>

<% if session[:usrn].nil?  %>
　<%= link_to '編集', edit_loginuser_path(@loginuser) %> |
 <%= link_to 'ログイン', login_index_path %>
<% else %>
 <%= link_to '戻る' , edit_loginuser_path(@loginuser) %>
<% end %>
