<style type="text/css">
    body {
      background-image: url(<%= asset_path 'CorkBoard02.jpg' %>);
    }
</style>

<script type="text/javascript">
   $(document).ready(function() {
    	$('#calendar').fullCalendar({
        buttonText: {
          prev:     '<',
          next:     '>',
          today:    '今日',
          month:    '月',
        },
        // 月名称
        monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        // 月略称
        monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        // 曜日名称
        dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
        // 曜日略称
        dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],

       	events:window.hoge_datas
    	})
	});
</script>

<script type="text/javascript">
  $(function() {
    $('#ui-tab > ul').tabs({ fx: { opacity: 'toggle', duration: 'fast'  } });
  });
</script>

<%= javascript_tag do %>
   window.hoge_datas = <%= raw @datas.to_json %>;
 <% end %>
 <br>
<div id="calendar"></div>

<div>
  <br>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">収入履歴</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">支出履歴</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <p>
        <table class="table" width = "100%">
      <thead>
        <tr>
          <th>日付</th>
          <th>金額</th>
          <th>カテゴリ</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @incomehistories.each do |price| %>
       　  <tr> 
            <td><%= price.date.strftime('%m月%d日') %></td>
            <td>￥<%= price.price.to_s(:delimited) %></td>
            <td><%= price.category.try(:categoryname) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      </p>
    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <p>
        <table class="table" width = "100%">
      <thead>
        <tr>
          <th>日付</th>
          <th>金額</th>
          <th>カテゴリ</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @spendinghistories.each do |price| %>
       　  <tr> 
            <td><%= price.date.strftime('%m月%d日') %></td>
            <td>￥<%= price.price.to_s(:delimited) %></td>
            <td><%= price.category.try(:categoryname) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      </p>
    </div>
  </div>
</div>

