<html>
<head>
<h1>マネ×マネ</h1>
</head>

<body>
  <table>
    <ul>(今月の)</ul>
    <ul>収入金額　　　　￥<%= @usemoney %></ul>
    <ul>支出金額　　　　￥<%= @usedmoney %></ul>
    <ul>残金　　　　　　￥<%= @usemoney - @usedmoney %></ul>
    <ul>目標使用金額　　￥<%= @tgoal %></ul>
    <ul>目標使用残金　　￥<%= @tgoal - @usedmoney %></ul>
  </table>
 
  <table>
    <%= link_to "収入追加", new_price_path(hanbetsu: "収入") %>　:　
    <%= link_to "支出追加", new_price_path(hanbetsu: "支出") %>
  </table>

</body>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>メモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>
     
  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <% if Date.today + 7.days >= notice.date %>
          <td><%= notice.date %></td>
          <td><%= notice.title %></td>
          <td><%= notice.memo %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<footer-area>
<br>
<br>
<br>
    <li><%= link_to "price 一覧", prices_path %></li>
    <li><%= link_to "category　一覧", categories_path %></li>
    <li><%= link_to "goal 一覧", goals_path %></li>
    <li><%= link_to "familyuser 一覧", familyusers_path %></li> 
    <li><%= link_to "loginuser 一覧", loginusers_path %></li>
    <li><%= link_to "menu", menu_index_path %></li>
    <li><%= link_to "収入履歴", incomehistory_prices_path %></li>
    <li><%= link_to "支出履歴", spendinghistory_prices_path %></li>
    <li><%= link_to "お知らせ", notices_path %></li>


</footer-area>
</html>
