<html>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta http-equiv="content-style-type" content="text/css">
<style type="text/css">
    body {
      background-image: url(<%= asset_path 'CorkBoard02.jpg' %>);
    }
</style>
<head>
</head>
<body>

  <h3><%= "#{@month.year} 年 #{@month.month} 月 "%></h3>

    <ul style="font-size:1.2em;">　  収入金額　　　　　　 ￥<strong><%= @usemoney %></strong></ul>
    <ul style="font-size:1.2em;">　  支出金額　　　　　　 ￥<strong><%= @usedmoney %></strong></ul>
    <ul style="font-size:1.2em;">　  残金　　　　　　　　 ￥<strong><%= @usemoney - @usedmoney %></strong></ul>
    <ul style="font-size:1.2em;">　  目標使用金額　　　　 ￥<strong><%= @tgoal %></strong></ul>
    <ul style="font-size:1.2em;">　  一日の使用可能金額　 ￥<strong><%= @zgoal / @zday %></strong></ul>

 
  <div align="center">
  <table>
    <%= link_to sanitize('<i class="icon-trash icon-white"></i> ') + '収入登録', new_price_path(hanbetsu: "収入"), class: "btn btn-warning btn-lg" %>　　　
    <%= link_to "支出登録", new_price_path(hanbetsu: "支出"), class: "btn btn-warning btn-lg" %>
  </table>
  </div>

</body>

<table class="table" width = "100%">
  <thead> 
      <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>メモ</th>
    </tr>
  </thead>
 
  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <% if Date.today + 7.days >= notice.date and Date.today <= notice.date %>
          <td><%= notice.date %></td>
          <td><%= notice.title %></td>
          <td><%= notice.memo %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<footer-area>
<br>
<br>
<br>

<div class="col-xs-5">
  <%= link_to(calendar_index_path) do %>
    <button class="btn btn-block">
      <%= image_tag 'memo.png', width: '20em' %>履歴
    </button>
  <% end %>
</div>

<div class="col-xs-5">
  <%= link_to(statistics_circle_graph_path) do %>
    <button class="btn btn-block">
      <%= image_tag 'gura.png', width: '20em' %>統計
    </button>
  <% end %>
</div>
<hr />
<div class="col-xs-5">
  <%= link_to(familyusers_path) do %>
    <button class="btn btn-block">
      <%= image_tag 'fami.png', width: '20em' %>
      <span style="font-size:0.58em;">ファミリーユーザー
      </span>
    </button>
  <% end %>
</div>
<div class="col-xs-5">
  <%= link_to(notices_path) do %>
    <button class="btn btn-block">
      <%= image_tag 'voi.png', width: '20em' %>お知らせ
    </button>
  <% end %>
</div>
</footer-area>
</html>
