<html>
<head>
<h1>マネ×マネ</h1>
</head>

<body>
  <table>
    <h3><%= "#{@month.year} 年 #{@month.month} 月 "%></h3>

    <ul>収入金額　　　　￥<%= @usemoney %></ul>
    <ul>支出金額　　　　￥<%= @usedmoney %></ul>
    <ul>残金　　　　　　￥<%= @usemoney - @usedmoney %></ul>
    <ul>目標使用金額　　￥<%= @tgoal %></ul>
    <ul>目標使用残金　　￥<%= @tgoal - @usedmoney %></ul>
  </table>
 
  <table>
    <%= link_to sanitize('<i class="icon-trash icon-white"></i> ') + '収入追加', new_price_path(hanbetsu: "収入"), class: "btn btn-primary btn-lg" %>　
    <%= link_to "支出追加", new_price_path(hanbetsu: "支出"), class: "btn btn-primary btn-lg" %>
  </table>

</body>

<table class="table" width = "100%">
  <thead> 
      <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>メモ</th>
    </tr>
  </thead>
 
  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <% if Date.today + 7.days >= notice.date and Date.today <= notice.date %>
          <td><%= notice.date %></td>
          <td><%= notice.title %></td>
          <td><%= notice.memo %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<footer-area>
<br>
<br>
<br>

<div class="col-xs-5">
<a href="/prices/incomehistory">
<button class="btn btn-block">
<i class="glyphicon glyphicon-time"></i> 収入履歴</button></a></div>

<div class="col-xs-5">
<a href="/prices/spendinghistory">
<button class="btn btn-block">
<i class="glyphicon glyphicon-time"></i> 支出履歴</button></a></div>

<br><hr />
<div class="col-xs-5">
<a href="/statistics/circle_graph">
<button class="btn btn-block">
<i class="glyphicon glyphicon-thumbs-up"></i> 統計</button></a></div>

<div class="col-xs-5">
<a href="/familyusers">
<button class="btn btn-block">
<i class="glyphicon glyphicon-user"></i> ファミリーユーザ</button></a></div>

<br><hr />
<div class="col-xs-5">
<a href="/notices">
<button class="btn btn-block">
<i class="glyphicon glyphicon-bell"></i> お知らせ</button></a></div>

<div class="col-xs-5">
<a href="/configurations/index">
<button class="btn btn-block">
<%= image_tag 'config.png', width: '20em' %> 設定</button></a></div>

</footer-area>
</html>
