<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="field">
    <%= f.label :familyuser_id %><br>
    <%= f.collection_select :familyuser_id, Familyuser.where(loginuser: session[:usr]), :id, :name %>
  </div>
  <div class="field">
    <%= f.label :payment %><br>
    <%= f.select :payment, ["現金" ,"クレジットカード"] %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :hanbetsu, ["収入" ,"支出"] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
