<script type="text/javascript">
    $(document).ready(function () {
      $(".abc").calculator()
    });
</script>
<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :日付 %><br>
    <%= f.date_select :date %>
  </div>
  <div class="price">
    <%= f.label :金額 %><br>
    <%= f.number_field :price ,:class => "abc"%>
  </div>
  <div class="field">
    <%= f.label :メモ %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="field">
    <%= f.label :ファミリー %><br>
    <%= f.collection_select :familyuser_id, Familyuser.where(loginuser: session[:usr]), :id, :name %>
  </div>
  <% if @price.hanbetsu == "支出" %>
  <div class="field">
    <%= f.label :支払方法 %><br>
    <%= f.select :payment, ["現金" ,"クレジットカード"] %>
  </div>
  <div class="field">
    <%= f.label :収入or収支 %><br>
    <%= f.select :hanbetsu, ["収入" ,"支出"] %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit "カテゴリ登録へ" %>
  </div>
  <div>
  <%= f.hidden_field :hanbetsu %>
  </div>
<% end %>
