<script type="text/javascript">
    $(function () {
      $('.demo001').pickadate({
        monthsFull: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        weekdaysFull: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
        weekdaysShort: ["日", "月", "火", "水", "木", "金", "土"],
        weekdaysLetter: ["日", "月", "火", "水", "木", "金", "土"],
        labelMonthNext: "翌月",
        labelMonthPrev: "前月",
        labelMonthSelect: "月を選択",
        labelYearSelect: "年を選択",
        today: "今日",
        clear: "クリア",
        close: "閉じる",
        format: "yyyy-mm-dd",
      });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
      $(".abc").calculator()
    });
</script>
<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :日付 %><br>
    <%= f.text_field :date, :class => "demo001"%>
  </div>
  
  <div class="field">
    <%= f.label :メモ %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="field">
    <%= f.label :ファミリー %><br>
    <%= f.collection_select :familyuser_id, Familyuser.where(loginuser: session[:usr]), :id, :name %>
  </div>
  <% if @price.hanbetsu == "支出" %>
    <div class="field">
      <%= f.label :支払方法 %><br>
      <%= f.select :payment, ["現金" ,"クレジットカード"] %>
    </div>
  <% end %>
  
  <div class="price">
    <%= f.label :金額 %><br>
    <%= f.text_field :price ,:class => "abc" %>
  </div>
  <div class="actions">
    <%= f.submit "カテゴリー選択へ" %>
  </div>
  <div>
  <%= f.hidden_field :hanbetsu %>
  </div>
<% end %>
