<head>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".cb").hide();
      $(".cb:checked").each(function(i){
        id = $(this).attr("id").split("_")[3]
        $("#price_category_id_" + id).prop("checked", true);
        $("#img_" + id).attr("src", "<%= asset_path 'on.png' %>");
      })

    });
    $(function(){
      $(".sw_hante").click(function(){
        $(".cb").each(function(i){
          id = $(this).attr("id").split("_")[3]
          $("#price_category_id_" + id).prop("checked", false);
          $("#img_" + id).attr("src", "<%= asset_path 'off.png' %>");
        })
        id = $(this).attr("id").split("_")[1]
        if($(".cb_" + id + ":checked").val()){
          $("#price_category_id_" + id).prop("checked", false);
          $("#img_" + id).attr("src", "<%= asset_path 'off.png' %>");
        }else{
          $("#price_category_id_" + id).prop("checked", true);
          $("#img_" + id).attr("src", "<%= asset_path 'on.png' %>");
        }
      })
    });
  </script>
  <style type="text/css">
  .rsample{
      position:relative;
      width:100px;
  }
  .rsample span{
      position:absolute;
      bottom:0px;
      left:-3px;
      width:100px;
      text-align:center;
  }
  .rsample img{
      width:100px;
  }
  </style>
</head>>

<p id="notice"><%= notice %></p>

<h1>カテゴリ登録</h1>
<%= form_for(@price, :url => {:controller => :prices, :action => :updatecategory}) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :収入or支出 %><br>
    <%= f.collection_radio_buttons(:category_id, Category.where(loginuser: session[:usr]).where(hanbetsu: @price.hanbetsu), :id, :categoryname) do |b| %>
      <span class="rsample">
        <%= image_tag "off.png", class: ["sw_hante"], id: "img_#{b.value}" %>
        <span>
          <%= b.text %>
        </span>
      </span>
      <%= b.radio_button(class: ["cb", "cb_#{b.value}"]) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :名前 %><br>
    <%= check_box :dammy ,:ch %>
    <%= text_field :dammy ,:text %>
  </div>
  <div class="field">
    <%= f.label :収入or支出 %><br>
    <%= f.select :hanbetsu, ["収入" ,"支出"] %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>


<%= link_to '戻る', prices_path %>
<%= link_to '新規作成', new_category_path %>