<p id="notice"><%= notice %></p>

<h1>カテゴリ登録</h1>
<%= form_for(@price, :url => {:controller => :prices, :action => :updatecategory}) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :収入or収支 %><br>
    <%= f.collection_select :category_id ,Category.where(loginuser: session[:usr] ).where(hanbetsu: @price.hanbetsu) ,:id, :categoryname %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>


<%= link_to '戻る', prices_path %>