<p id="notice"><%= notice %></p>
<style type="text/css">
    body {
      background-image: url(<%= asset_path 'CorkBoard02.jpg' %>);
    }
</style>

<% if @price.hanbetsu == "支出" %>
<p>
  <h2>支出詳細</h2>
  <%= @price.hanbetsu %>
</p>
<% end %>

<% if @price.hanbetsu == "収入" %>
<p>
  <h2>収入詳細</h2>
  <%= @price.hanbetsu %>
</p>
<% end %>

<p>
  <strong>日付:</strong>
  <%= @price.date.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @price.category.try(:categoryname) %>
</p>

<p>
  <strong>金額:</strong>
  ￥<%= @price.price.to_s(:delimited) %>
</p>

<p>
  <strong>ファミリー:</strong>
  <%= @price.familyuser.name %>
</p>

<% if @price.hanbetsu == "支出" %>
<p>
  <strong>支払方法:</strong>
  <%= @price.payment %>
</p>
<% end %>
   
<p>
  <strong>メモ:</strong>
  <%= @price.memo %>
</p>



<%= link_to '編集', edit_price_path(@price) %> |
<%= link_to '削除', @price, method: :delete, data: { confirm: '本当にいいですか?' } %> |
<% if @price.hanbetsu == "支出" %>
  <%= link_to '履歴', calendar_index_path %>
<% end %>

<% if @price.hanbetsu == "収入" %>
  <%= link_to '履歴', calendar_index_path %>
<% end %>
