<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @price.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @price.price %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @price.memo %>
</p>

<p>
  <strong>Familyuser:</strong>
  <%= @price.familyuser.name %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @price.payment %>
</p>

<p>
  <strong>hanbetsu:</strong>
  <%= @price.hanbetsu %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Destroy', @price, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', prices_path %>
