<p id="notice"><%= notice %></p>

<p>
  <strong>日付:</strong>
  <%= @price.date %>
</p>

<p>
  <strong>金額:</strong>
  <%= @price.price %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @price.memo %>
</p>

<p>
  <strong>ファミリー:</strong>
  <%= @price.familyuser.name %>
</p>

<% if @price.hanbetsu == "支出" %>
<p>
  <strong>支払方法:</strong>
  <%= @price.payment %>
</p>
<% end %>

<p>
  <strong>収入/収支:</strong>
  <%= @price.hanbetsu %>
</p>


<%= link_to '編集', edit_price_path(@price) %> |
<%= link_to '削除', @price, method: :delete, data: { confirm: '本当にいいですか?' } %>
<%= link_to '一覧へ', prices_path %>
