<p id="notice"><%= notice %></p>

<h1>目標一覧・登録</h1>

<table class="table" width = "100%">
  <thead>
    <tr>
      <th>日付</th>
      <th>目標金額</th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.date.try(:strftime, "%Y年%m月") %></td>
        <td><%= goal.goalmoney.to_s(:delimited) %></td>
        <td><%= link_to '削除', goal, method: :delete, data: { confirm: '本当にいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :日付 %><br>
    <%= Date.today.strftime("%Y年%m月")  %>
  </div>
  <div class="field">
    <%= f.label :目標金額 %><br>
    <%= f.number_field :goalmoney %>
  </div>
  <div class="actions">
    <%= f.submit "新規作成" %>
  </div>
  <div class="actions">
    <%= link_to '戻る', configurations_index_path %>
  </div>
<% end %>
