<p id="notice"><%= notice %></p>

<p>
  <strong>日付:</strong>
  <%= @goal.date %>
</p>

<p>
  <strong>目標金額:</strong>
  <%= @goal.goalmoney %>
</p>

<%= link_to '編集', edit_goal_path(@goal) %> |
<%= link_to '一覧へ', goals_path %>
