<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :categoryname %><br>
    <%= f.text_field :categoryname %>
  </div>
  <div class="field">
    <%= f.label :loginuser_id %><br>
    <%= f.collection_select :loginuser_id, Loginuser.all, :id, :username %>
  </div>
  <div class="field">
    <%= f.label :hanbetsu %><br>
    <%= f.select :hanbetsu, ["収入" ,"支出"] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
