<style type="text/css">
    body {
      background-image: url(<%= asset_path 'CorkBoard02.jpg' %>);
    }
</style>


<h1 style="font-size:1.8em;">カテゴリ一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>収入/支出</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.categoryname %></td>
        <td><%= category.hanbetsu %></td>
        
        <td><%= link_to '削除', category, method: :delete, data: { confirm: '本当にいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '戻る', new_category_path %>
