<p id="notice"><%= notice %></p>

<p>
  <strong>Categoryname:</strong>
  <%= @category.categoryname %>
</p>

<p>
  <strong>Loginuser:</strong>
  <%= @category.loginuser.loginusername %>
</p>

<p>
  <strong>Type:</strong>
  <%= @category.hanbetsu %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
