<style type="text/css">
    body {
      background-image: url(<%= asset_path 'CorkBoard02.jpg' %>);
    }
</style>

<%= form_for(@familyuser) do |f| %>
  <% if @familyuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@familyuser.errors.count, "error") %> prohibited this familyuser from being saved:</h2>

      <ul>
      <% @familyuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :name, :placeholder => "登録したい人を入力"%>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
