<p id="notice"><%= notice %></p>
<style type="text/css">
    body {
      background-image: url(<%= asset_path 'CorkBoard02.jpg' %>);
    }
</style>

<h1 style="font-size:1.8em;">ファミリーユーザー一覧・登録</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @familyusers.each do |familyuser| %>
      <tr>
        <td><%= familyuser.name %></td>
        <td><%= link_to '削除', familyuser, method: :delete, data: { confirm: '本当にいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= form_for(@familyuser) do |f| %>
  <% if @familyuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@familyuser.errors.count, "error") %> prohibited this familyuser from being saved:</h2>

      <ul>
      <% @familyuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "新規作成", class: "btn btn-large btn-warning"  %>
  </div>
<% end %>
