<!DOCTYPE html>
<html>
<div align="cemter">
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <meta name="viewport" content="width=device-width">

  <style type="text/css">

            body {
             /* 画像を常に天地左右の中央に配置 */
             background-position: center center;
             /* 画像をタイル状に繰り返し表示しない */
             background-repeat: no-repeat;
             /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
             background-attachment: fixed;
             /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
             background-size: cover;
             /* 背景画像が読み込まれる前に表示される背景のカラー */
             background-color: #464646;
            }
  </style>
</head>
<body>
<div class="container" align="left">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading ">
          <div class="row">
            <div class="col-xs-3">
              <%= link_to(menu_index_path) do %>
                <%= image_tag 'homeic.png', width: '50em' %>
              <% end %>
            </div>
            <div class="col-xs-6" valign="baseline" align="center" style="font-size: 196%;">
              マネ×マネ
            </div>
            <div class="col-xs-3" align="right">
            <%= image_tag 'per.png', width: '50em' , class: "dropdown-toggle", data:{toggle: "dropdown"} %>
              <ul class="dropdown-menu" role="menu" style="right: 0; left: auto;">
                <li>ログインユーザー：<%= session[:usrn] %></li>
                <li><%= link_to "ログアウト",controller: :login,action: :index %></li>
                <li>
                  <%= link_to(configurations_index_path) do %>
                    <%= image_tag 'config.png', width: '20em' %>設定
                  <% end %>
                </li>
                <li class="diviter"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-body" style="margin-top: -2em;">
          <%= yield %>
        </div>
        <div class="panel-footer" align="center">
          <small>＠money×management</small>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
</body>
</div>
</html>
