<!DOCTYPE html>
<html>
<head>
  <title style="font-size:3em;">Money</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading ">
          <div class="row">
            <div class="col-xs-3">
              <%= link_to(menu_index_path) do %>
                <%= image_tag 'homeic.png', width: '50em' %>
              <% end %>
            </div>
            <div class="col-xs-6" valign="baseline" align="center" style="font-size: 2em;">
              マネ×マネ
            </div>
            <div class="col-xs-3" align="right">
            <%= image_tag 'per.png', width: '50em' , class: "dropdown-toggle", data:{toggle: "dropdown"} %>
              <ul class="dropdown-menu" role="menu" style="right: 0; left: auto;">
                <li>ログインユーザー：<%= session[:usrn] %></li>
                <li><%= link_to "ログアウト",controller: :login,action: :index %></li>
                <li>
                  <%= link_to(configurations_index_path) do %>
                    <%= image_tag 'config.png', width: '20em' %>設定
                  <% end %>
                </li>
                <li class="diviter"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-body" style="margin-top: -2em;">
          <%= yield %>
        </div>
        <div class="panel-footer" align="center">
          <small>＠money×management</small>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
</body>
</html>
