<!DOCTYPE html>
<html>
<head>
  <title>Money</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <meta name="viewport" content="width=device-width">
</head>
<body>
 <div align = "center">
     ログインユーザー：<%= session[:usrn] %>
     <%= link_to "ログアウト",controller: :login,action: :index %>
 </div>
 
 <a href="/menu/index">
<button class="btn">
<i class="glyphicon glyphicon-home"></i> Home</button></a>
<%= yield %>

</body>
</html>
